@media only screen and (min-width:500px){
    .container{
        width: 100%;
        display: block;
        text-align: center;
    }
    .loi-van{
        font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 140%;
    /* or 50px */
    
    text-align: justify;
    
    color: #DD7272;
    padding: 60px 243px;
    }
    .imgCata{
        filter: drop-shadow(0px 4px 57px rgba(221, 114, 114, 0.35));
    border-radius: 15px;
    padding-bottom: 10px;
    
    }
    .imgCataT{
        width:801px;
    }
    .cataTxt{
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        /* identical to box height */
        
        text-align: center;
        text-transform: uppercase;
        
        color: #DD7272;
        padding: 30px;
    }
    .xemngay{
        padding: 30px;
    }
    .btnXemNgay{
        margin:auto;
        display:block;
        background: #DD7272;
        border-radius: 71px;
        width: 365px;
        margin-top: 25px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-top: 25px;
        padding-bottom: 25px;
    
    }
    a{
        text-decoration: none;
    }
    
}

@media only screen and (max-width:500px) {
    .container{
        width: 100%;
        display: block;
        text-align: center;
    }
    .imgND{
        width: 385px;
    }
    .loi-van{
        display: block;
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        /* or 20px */
        text-align: justify;
        color: #DD7272;
        padding: 10px;
    }
    .imgCata{
        filter: drop-shadow(0px 4px 57px rgba(221, 114, 114, 0.35));
    border-radius: 15px;
    padding-bottom: 5px;
     
    }
    .imgCataT{
        width: 259px;
    }
    .cataTxt{
        font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

color: #DD7272;
padding-bottom: 20px;
    }
    .xemngay{
        padding: 30px;
    }
    .btnXemNgay{
        margin:auto;
        display:block;
        background: #DD7272;
        border-radius: 71px;
        width: 365px;
        margin-top: 25px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-top: 9px;
        padding-bottom: 9px;
    
    }
    a{
        text-decoration: none;
    }
}
